// fonts
$title-font: "Bricolage Grotesque", sans-serif;
$text-font: "DM Sans", sans-serif;

// fontsize
$big-title: 56px;
$med-title: 40px; 
$small-title: 24px;
$text: 16px;
$small-text: 12px;

//fontweigth 
$thin: 200; 
$regular: 400; 
$semi-bold: 600; 
$bold: 800; 

// colors
$bg-body: #0B132B;
$text-color: #E1E5F2;
$secondary-color: #5BC0BE;
$green: #6DFF57;
$yellow: #FFC61A;
$blue: #4A9EFF;
$grey: #848484;

// spacing
$tiny-space: 4px;
$small-space: 8px;
$space: 16px;
$big-space: 24px;
$giga-space: 32px;

// radius
$small-radius: 10px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $text-font;
  color: $text-color;
  overflow-x: hidden;
  background-color: $secondary-color;
  position: relative;
}

main {
  background-color: $bg-body;
  max-width: 724px;
  margin: auto;
}

.main__princ {
  padding: $giga-space $space 0 $space;
}

button {
  cursor: pointer;
}


// Onboarding écran 1

@mixin info-block($color) {
  margin-bottom: $space;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: $small-space;
  padding: $small-space;
  background-color: rgba($color, 0.25);
  border-radius: $small-radius;
  border: 2px solid rgba($color, 0.25);

  &--svg {
    padding: $small-space;
    background-color: rgba($color, 0.25);
    border-radius: $small-radius;
  }

  &--text {
    display: flex;
    flex-direction: column;
    gap: $tiny-space;
    color: $text-color;

    p {
      font-size: $text;
      font-weight: $semi-bold;
    }

    span {
      font-size: $small-text;
      opacity: 0.75;
    }
  }
}

.first {
  height: 100vh;
  padding: 0 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &--big {
      color: $secondary-color;
      font-family: $title-font;
      font-weight: $bold;
      font-size: $big-title;
    }

    &--sub {
      font-size: $text;
      color: $text-color;
      font-weight: $semi-bold;
      opacity: 0.75;
      margin-bottom: $giga-space;
    }
  }

  &__data {
    @include info-block(#5BC0BE);
    margin-top: $space
  }

  &__plan {
    @include info-block(#FFC61A);
  }

  &__alert {
    @include info-block(#4A9EFF)
  }

  &__btn {
    margin-top: $big-space;
    padding: $small-space $space;
    border: none;
    background-color: $secondary-color;
    color: $text-color;
    font-size: $text;
    font-weight: $semi-bold;
    border-radius: $small-radius;
  }
}


// Onboarding écran 2,3,4

@mixin screen {
  padding: 0 $space;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: $bg-body;

  &__img {
    width: 100%;
    height: auto;
    max-width: 400px;
  }

  &__title {
    font-size: $med-title;
    line-height: 100%;
    margin-top: $giga-space * 2;

    span {
      display: block;
      color: $secondary-color;
    }
  }

  &__text {
    margin-top: $big-space;

    span {
      display: block;
    }
  }

  &__btn {
    margin-top: $giga-space * 2;
    padding: $small-space $space;
    border: none;
    background-color: $secondary-color;
    color: $text-color;
    font-size: $text;
    font-weight: $semi-bold;
    border-radius: $small-radius;
    width: 100%;
  }
}

.second {
  @include screen;
}

.third {
  @include screen;
}

.fourth {
  @include screen;

  &__btn a {
    text-decoration: none;
    color: $text-color;
  }
}

.main__onboard {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.onboard__screen {
  width: 100%;
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;

  transform: translateX(100%);
  transition: transform 0.5s ease;
}

.onboard__screen.active {
  transform: translateX(0);
}

.onboard__screen.previous {
  transform: translateX(-100%);
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $bg-body;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;

  &__title {
    font-size: $big-title;
    color: $secondary-color;
    font-family: $title-font;
    font-weight: $bold;
  }
}


// Connexion / login 

.auth {
  height: 100vh;
  padding: 80px $space;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: $space;

  &__logo {
    font-size: $med-title;
    color: $secondary-color;
    margin-bottom: 136px;
  }

  &__input {
    width: 100%;
    padding: $small-space $space;
    border-radius: $space;
    border: 1px solid rgba(91, 192, 190, 0.30);
    background: linear-gradient(91deg, rgba(91, 192, 190, 0.15) 0%, rgba(91, 192, 190, 0.05) 100%);
    background-blend-mode: hard-light;
    box-shadow: 0 $small-space $big-space -4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    font-size: $text;
    color: $text-color;
  }

  &__btn {
    font-size: $text;
    color: $text-color;
    background-color: $secondary-color;
    font-weight: $semi-bold;
    width: 100%;
    padding: $small-space $space;
    border: 1px solid rgba(91, 192, 190, 0.30);
    border-radius: $space;
  }

  &__switch {
    color: $secondary-color;
    font-size: $small-text;

    &--reg, &--log {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__sep {
    height: 2px;
    width: 50%;
    background-color: $secondary-color;
  }

  &__google, &__apple {
    color: $bg-body;
    background-color: $text-color;
    width: 100%;
    padding: $small-space $space;
    display: flex;
    justify-content: center;
    font-weight: $semi-bold;
    border-radius: $space;
    position: relative;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: inherit;
  }
  }

  &__apple {
    color: $text-color;
    background-color: #222;
  }

  &__title {
    font-size: $small-title;
    margin-bottom: 136px;
  }
}

.register {
  gap: $giga-space;
}

.hidden {
  display: none;
}


// Navigation

header {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.menu {
  padding: $space $small-space;
  width: 100%;
  background-color: $text-color;
  max-width: 724px;
  margin: auto;

  &__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $giga-space*2;

    &--el {
      list-style: none;
    }

    &--active{
      opacity: 75%;
    }
  }
}


// Homepage 

.home__title {
  font-size: $small-title;
  font-style: italic;
  font-weight: $regular;
  margin-bottom: $big-space;

  &--name {
    font-weight: $semi-bold;
    font-style: normal;
  }
}

@mixin progress-bar($color, $bg, $value) {
  width: 100%;
  height: 8px;
  background: $bg;
  border-radius: 100px;
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: $value;
    background: $color;
    left: 0;
    top: 0;
    border-radius: 100px;
  }
}

@mixin energy-block {
  display: flex;
  flex-direction: column;
  gap: $tiny-space;
  width: 100%;

  &__info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: $semi-bold;
    color: $text-color;
    opacity: 0.75;
  }
}


.energy {
  margin-bottom: $giga-space;

  &__title {
    font-size: $text;
    color: $secondary-color;
    opacity: 0.5;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  &__el {
    padding: $big-space $space;
    border-radius: $big-space;
    border: 1.5px solid rgba(91, 192, 190, 0.3);
    background: linear-gradient(
      99deg,
      rgba(91, 192, 190, 0.15) 0%,
      rgba(91, 192, 190, 0.05) 100%
    );
    background-blend-mode: hard-light;
    box-shadow: 0 8px 24px -4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);

    &--title {
      font-size: $small-text;
      color: $secondary-color;
      opacity: 0.75;
      text-transform: uppercase;
      font-weight: $bold;
      margin-bottom: $small-space;
    }

    &--cards {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: $space;

      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: $space;
        border-radius: $small-radius;
        background: rgba(11, 19, 43, 0.5);

        &__numb {
          font-size: $small-title;
          font-weight: $bold;

          &--green { color: $green; }
          &--yellow { color: $yellow; }
          &--blue { color: $blue; }
        }

        &__name {
          font-size: $small-text;
          font-weight: $bold;
          color: $secondary-color;
          opacity: 0.75;
        }
      }
    }

    &--bar {
      display: flex;
      flex-direction: column;
      gap: $space;
    }

    &--temp {
      display: flex;
      gap: $small-space;
      margin-bottom: $space;

      .data {
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: center; 
        gap: $tiny-space; 
        padding: $small-space;

        &__temp {
          font-size: $small-title;
          font-weight: $semi-bold;
        }

        &__text {
          color: rgba(91, 192, 190, 0.5);
          font-weight: $semi-bold;
        }
      }

      .sep {
        width: 2px; 
        height: 67px; 
        background-color: $text-color;
        
      }
    }

    &--eq {
      display: flex; 
      flex-direction: column; 
      gap: $space; 

      .eq {
        display: flex; 
        justify-content: space-between; 
        align-items: center;

        &__text {
          font-size: $text;
          font-weight: $semi-bold;
        }

        &__toggle {
          display: flex;


          &--input[type=checkbox] {
            height: 0;
            width: 0;
            visibility: hidden;
          }
        
          &--label {
            //text-indent: -9999px;
            overflow: hidden;
            color: transparent;
            width: 40px;
            height: 21px;
            background: grey;
            display: block;
            border-radius: 21px;
            position: relative;
          }
        
          &--label:after {
            content: '';
            position: absolute;
            top: 2px;
            left: 2px;
            width: 17px;
            height: 17px;
            background: #fff;
            border-radius: 15px;
            transition: 0.3s;
          }
        
          &--input:checked + label {
            background: #5ecfbe;
          }
        
          &--input:checked + label:after {
            left: calc(100% - 2px);
            transform: translateX(-100%);
          }
        
          &--label:active:after {
            width: 17px;
          }
        }
      }
    }
  }
}

.bat {
  @include energy-block;

  &__bar {
    @include progress-bar(
      $green,
      rgba(109, 255, 87, 0.25),
      67%
    );
  }
}

.cons {
  @include energy-block;

  &__bar {
    @include progress-bar(
      $blue,
      rgba(74, 158, 255, 0.25),
      41%
    );
  }
}

.eauc {
  @include energy-block;

  &__bar {
    @include progress-bar(
      $secondary-color,
      rgba(91, 192, 190, 0.25),
      56%
    );
  }
}

.eaug {
  @include energy-block;

  &__bar {
    @include progress-bar(
      $grey,
      rgba(132, 132, 132, 0.25),
      34%
    );
  }
}

.hum {
  @include energy-block;

  &__bar {
    @include progress-bar(
      $secondary-color,
      rgba(132, 132, 132, 0.25),
      34%
    );
  }
}

.last {
  margin-bottom: 96px;
}

// Planification 

.fplan {
  display: none;
  height: 100vh;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    &--text {
      font-size: $small-title;
      font-weight: $semi-bold;
    }
  
    &--btn {
      font-size: $small-title;
      background-color: $secondary-color;
      border-radius: 100px;
      width: 31px;
      height: 31px;
      border: none;
    }
  }
}

splan {
  
}

// Detail 

// Compte