// fonts
$title-font: "Bricolage Grotesque", sans-serif;
$text-font: "DM Sans", sans-serif;

// fontsize
$big-title: 56px;
$med-title: 40px;
$small-title: 24px;
$text: 16px;
$small-text: 12px;
$tiny-text: 10px;

//fontweigth 
$thin: 200;
$regular: 400;
$semi-bold: 600;
$bold: 800;

// colors
$bg-body: #0B132B;
$text-color: #E1E5F2;
$secondary-color: #5BC0BE;
$green: #6DFF57;
$yellow: #FFC61A;
$blue: #4A9EFF;
$grey: #848484;
$red: #D03737;
$purple: #8A38F5;

// spacing
$tiny-space: 4px;
$small-space: 8px;
$space: 16px;
$big-space: 24px;
$giga-space: 32px;

// radius
$small-radius: 10px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $text-font;
  color: $text-color;
  //overflow-x: hidden;
  background-color: $bg-body;
  position: relative;
  max-width: 480px;
  margin: auto;
}

main {
  background-color: $bg-body;
  max-width: 480px;
  margin: auto;
}

.main__princ {
  padding: $giga-space $space;
}

button {
  cursor: pointer;
}


// Onboarding écran 1

@mixin info-block($color) {
  margin-bottom: $space;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: $small-space;
  padding: $small-space;
  background-color: rgba($color, 0.25);
  border-radius: $small-radius;
  border: 2px solid rgba($color, 0.25);

  &--svg {
    padding: $small-space;
    background-color: rgba($color, 0.25);
    border-radius: $small-radius;
  }

  &--text {
    display: flex;
    flex-direction: column;
    gap: $tiny-space;
    color: $text-color;

    p {
      font-size: $text;
      font-weight: $semi-bold;
    }

    span {
      font-size: $small-text;
      opacity: 0.75;
    }
  }
}

.first {
  height: 100vh;
  padding: 0 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &--big {
      color: $secondary-color;
      font-family: $title-font;
      font-weight: $bold;
      font-size: $big-title;
    }

    &--sub {
      font-size: $text;
      color: $text-color;
      font-weight: $semi-bold;
      opacity: 0.75;
      margin-bottom: $giga-space;
    }
  }

  &__data {
    @include info-block(#5BC0BE);
    margin-top: $space
  }

  &__plan {
    @include info-block(#FFC61A);
  }

  &__alert {
    @include info-block(#4A9EFF)
  }

  &__btn {
    margin-top: $big-space;
    padding: $small-space $space;
    border: none;
    background-color: $secondary-color;
    color: $text-color;
    font-size: $text;
    font-weight: $semi-bold;
    border-radius: $small-radius;
  }
}


// Onboarding écran 2,3,4

@mixin buttons {
  margin-top: $giga-space * 2;
  padding: $small-space $space;
  border: none;
  background-color: $secondary-color;
  color: $text-color;
  font-size: $text;
  font-weight: $semi-bold;
  border-radius: $small-radius;
  width: 100%;
}

@mixin screen {
  padding: 0 $space;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: $bg-body;

  &__img {
    width: 100%;
    height: auto;
    max-width: 400px;
  }

  &__title {
    font-size: $med-title;
    line-height: 100%;
    margin-top: $giga-space * 2;

    span {
      display: block;
      color: $secondary-color;
    }
  }

  &__text {
    margin-top: $big-space;

    span {
      display: block;
    }
  }

  &__btn {
    @include buttons;
  }
}

.second {
  @include screen;
}

.third {
  @include screen;
}

.fourth {
  @include screen;

  &__btn a {
    text-decoration: none;
    color: $text-color;
  }
}

.main__onboard {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.onboard__screen {
  width: 100%;
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;

  transform: translateX(100%);
  transition: transform 0.5s ease;
}

.onboard__screen.active {
  transform: translateX(0);
}

.onboard__screen.previous {
  transform: translateX(-100%);
}

.loader,
.loadfast {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $bg-body;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;

  &__title {
    font-size: $big-title;
    color: $secondary-color;
    font-family: $title-font;
    font-weight: $bold;
  }
}


// Connexion / login 

.auth {
  height: 100vh;
  padding: 80px $space;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: $space;

  &__logo {
    font-size: $med-title;
    color: $secondary-color;
    margin-bottom: 136px;
  }

  &__input {
    width: 100%;
    padding: $small-space $space;
    border-radius: $space;
    border: 1px solid rgba(91, 192, 190, 0.30);
    background: linear-gradient(91deg, rgba(91, 192, 190, 0.15) 0%, rgba(91, 192, 190, 0.05) 100%);
    background-blend-mode: hard-light;
    box-shadow: 0 $small-space $big-space -4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    font-size: $text;
    color: $text-color;
  }

  &__btn {
    font-size: $text;
    color: $text-color;
    background-color: $secondary-color;
    font-weight: $semi-bold;
    width: 100%;
    padding: $small-space $space;
    border: 1px solid rgba(91, 192, 190, 0.30);
    border-radius: $space;
  }

  &__switch {
    color: $secondary-color;
    font-size: $small-text;

    &--reg,
    &--log {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__sep {
    height: 2px;
    width: 50%;
    background-color: $secondary-color;
  }

  &__google,
  &__apple {
    color: $bg-body;
    background-color: $text-color;
    width: 100%;
    padding: $small-space $space;
    display: flex;
    justify-content: center;
    font-weight: $semi-bold;
    border-radius: $space;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: inherit;
    }
  }

  &__apple {
    color: $text-color;
    background-color: #222;
  }

  &__title {
    font-size: $small-title;
    margin-bottom: 136px;
  }
}

.register {
  gap: $giga-space;
}

.hidden {
  display: none;
}


// Navigation

header {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.menu {
  padding: $space $small-space;
  width: 100%;
  background-color: $text-color;
  max-width: 724px;
  margin: auto;

  &__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $giga-space*2;

    &--el {
      list-style: none;
    }

    &--active {
      opacity: 75%;
    }
  }
}


// Homepage 

.home__title {
  font-size: $small-title;
  font-style: italic;
  font-weight: $regular;
  margin-bottom: $big-space;

  &--name {
    font-weight: $semi-bold;
    font-style: normal;
  }
}

@mixin progress-bar($color, $bg, $value) {
  width: 100%;
  height: 8px;
  background: $bg;
  border-radius: 100px;
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: $value;
    background: $color;
    left: 0;
    top: 0;
    border-radius: 100px;
  }
}

@mixin energy-block {
  display: flex;
  flex-direction: column;
  gap: $tiny-space;
  width: 100%;

  &__info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: $semi-bold;
    color: $text-color;
    opacity: 0.75;
  }
}

@mixin toggle {
  display: flex;


  &--input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  &--label {
    overflow: hidden;
    color: transparent;
    width: 40px;
    height: 21px;
    background: grey;
    display: block;
    border-radius: 21px;
    position: relative;
  }

  &--label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 17px;
    height: 17px;
    background: #fff;
    border-radius: 15px;
    transition: 0.3s;
  }

  &--input:checked+label {
    background: #5ecfbe;
  }

  &--input:checked+label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
  }

  &--label:active:after {
    width: 17px;
  }
}


.energy {
  margin-bottom: $giga-space;

  &__title {
    font-size: $text;
    color: $secondary-color;
    opacity: 0.5;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  &__el {
    padding: $big-space $space;
    border-radius: $big-space;
    border: 1.5px solid rgba(91, 192, 190, 0.3);
    background: linear-gradient(99deg,
        rgba(91, 192, 190, 0.15) 0%,
        rgba(91, 192, 190, 0.05) 100%);
    background-blend-mode: hard-light;
    box-shadow: 0 8px 24px -4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);

    &--title {
      font-size: $small-text;
      color: $secondary-color;
      opacity: 0.75;
      text-transform: uppercase;
      font-weight: $bold;
      margin-bottom: $small-space;
    }

    &--cards {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: $space;

      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: $space;
        border-radius: $small-radius;
        background: rgba(11, 19, 43, 0.5);

        &__numb {
          font-size: $small-title;
          font-weight: $bold;

          &--green {
            color: $green;
          }

          &--yellow {
            color: $yellow;
          }

          &--blue {
            color: $blue;
          }
        }

        &__name {
          font-size: $small-text;
          font-weight: $bold;
          color: $secondary-color;
          opacity: 0.75;
        }
      }
    }

    &--bar {
      display: flex;
      flex-direction: column;
      gap: $space;
    }

    &--temp {
      display: flex;
      gap: $small-space;
      margin-bottom: $space;

      .data {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: $tiny-space;
        padding: $small-space;

        &__temp {
          font-size: $small-title;
          font-weight: $semi-bold;
        }

        &__text {
          color: rgba(91, 192, 190, 0.5);
          font-weight: $semi-bold;
        }
      }

      .sep {
        width: 2px;
        height: 67px;
        background-color: $text-color;

      }
    }

    &--eq {
      display: flex;
      flex-direction: column;
      gap: $space;

      .separator {
        width: 100%;
        height: 1px;
        background: rgba(225, 229, 242, 0.10);
      }

      .total {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: rgba(91, 192, 190, 0.75);
        font-weight: $semi-bold;
        font-size: $small-text;
      }

      .eq {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__log {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: $small-space;

          &--logo {
            padding: $tiny-space;
            border-radius: 5px;
            width: 24px;
            height: 24px;
          }

          &--big {
            padding: $small-space;
            width: 37px;
            height: 37px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: $small-radius;
          }

          .ecl {
            background-color: rgba(109, 255, 87, 0.4);
            border: 1px solid $green;
          }

          .purple {
            background: rgba(138, 56, 245, 0.25);
            border: 1px solid $purple;
          }

          .second {
            background-color: rgba(91, 192, 190, 0.5);
            border: 1px solid $secondary-color;
          }

          .yellow {
            background-color: rgba(255, 198, 26, 0.5);
            border: 1px solid $yellow;
          }

          .blue {
            background-color: rgba(74, 158, 255, 0.5);
            border: 1px solid $blue;
          }

          &--text {
            font-size: $text;
            font-weight: $semi-bold;
          }

          &--desc {
            display: flex;
            flex-direction: column;
            gap: 3px;
            font-weight: $bold;

            .title {
              font-size: 16px;
            }

            .sub {
              color: rgba(225, 229, 242, 0.50);
              font-size: $tiny-text;
            }
          }
        }

        &__text {
          font-size: $text;
          font-weight: $semi-bold;
        }

        &__toggle {
          @include toggle();
        }
      }
    }
  }
}

.bat {
  @include energy-block;

  &__bar {
    @include progress-bar($green,
      rgba(109, 255, 87, 0.25),
      67%);
  }
}

.cons {
  @include energy-block;

  &__bar {
    @include progress-bar($blue,
      rgba(74, 158, 255, 0.25),
      41%);
  }
}

.eauc {
  @include energy-block;

  &__bar {
    @include progress-bar($secondary-color,
      rgba(91, 192, 190, 0.25),
      56%);
  }
}

.eaug {
  @include energy-block;

  &__bar {
    @include progress-bar($grey,
      rgba(132, 132, 132, 0.25),
      34%);
  }
}

.hum {
  @include energy-block;

  &__bar {
    @include progress-bar($secondary-color,
      rgba(132, 132, 132, 0.25),
      34%);
  }
}

.last {
  margin-bottom: 96px;
}

// Planification 

.body__plan {
  //overflow-x: hidden;
  position: relative;
}

.main__plan {
  position: relative;
  overflow-x: hidden;
  // height: 100vh;
  min-height: 100vh;
}

.trav__overflow {
  overflow-y: inherit;
}

.plan__screen {
  width: 100%;
  height: 100vh;
  padding: $giga-space $space;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(100%);
  transition: transform 0.5s ease;
  z-index: 1;
}

.plan__screen.active {
  transform: translateX(0);
}

.plan__screen.previous {
  transform: translateX(-100%);
}

@mixin plan-title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  margin-bottom: $big-space;

  &--text {
    font-size: $small-title;
    font-weight: $semi-bold;

  }

  &--btn {
    position: absolute;
    left: 0;
    background-color: rgba(91, 192, 190, 0.1);
    border: 1px solid rgba(91, 192, 190, 0.75);
    width: 31px;
    height: 31px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      transform: translateX(-1px);
    }
  }
}

@mixin plan-progress {
  width: 100%;
  height: 3px;
  background-color: rgba(225, 229, 242, 0.25);
  border-radius: 100px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: $big-space;

  &--pill {
    width: 30px;
    height: 10px;
    border-radius: 100px;
    background-color: $secondary-color;
    position: absolute;
  }

  .pill1 {
    left: 0;
  }

  .pill2 {
    left: 30%;
  }

  .pill3 {
    left: 62%;
  }

  .pill4 {
    right: 0;
  }

  &--dot {
    width: 10px;
    height: 10px;
    background-color: #41485D;
    border-radius: 100px;
    position: absolute;
  }

  .dot1 {
    left: 0;
  }

  .dot2 {
    left: 33.3333%;
  }

  .dot3 {
    left: 66.6666%;
  }

  .dot4 {
    right: 0;
  }
}

@mixin plan-sub {
  color: #5BC0BE;
  font-size: $small-text;
  font-weight: $semi-bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

@mixin plan-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $tiny-space;
  margin-bottom: $big-space;

  &--label {
    color: rgba(91, 192, 190, 0.75);
    font-size: $small-text;
    font-weight: $semi-bold;
    text-transform: uppercase;
  }

  &--input {
    padding: $small-space $space;
    border-radius: $small-radius;
    border: 1.5px solid rgba(91, 192, 190, 0.30);
    background: linear-gradient(99deg, rgba(91, 192, 190, 0.15) 0%, rgba(91, 192, 190, 0.05) 100%);
    background-blend-mode: hard-light;
    box-shadow: 0 8px 24px -4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(16px);
    width: 100%;

    .trav__name,
    .trav__desc {
      font-weight: $semi-bold;
    }
  }
}

.fplan {
  height: 100vh;
  //display: none;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--text {
      font-size: $small-title;
      font-weight: $semi-bold;
    }

    &--btn {
      font-size: $small-title;
      background-color: $secondary-color;
      border-radius: 100px;
      width: 31px;
      height: 31px;
      border: none;
      margin-top: 0 !important;
    }
  }
}


.splan {
  height: 100vh;

  &__title {
    @include plan-title;
  }

  &__progress {
    @include plan-progress;
  }

  &__sub {
    @include plan-sub;
  }

  &__name,
  &__date,
  &__desc {
    @include plan-input;
  }

  &__date {
    &--input {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: $space;
      padding: $big-space $space;

      .date {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: $small-radius;
        background: rgba(11, 19, 43, 0.50);
        padding: $small-space $space;

        &__text {
          color: $secondary-color;
          font-size: $small-text;
          font-weight: $semi-bold;
        }

        &__num {
          font-size: $small-title;
          font-weight: $semi-bold;
        }
      }
    }
  }

  &__btn {
    @include buttons;
  }
}

.tplan {
  height: 100vh;

  &__title {
    @include plan-title;
  }

  &__progress {
    @include plan-progress;
  }

  &__sub {
    @include plan-sub;
  }

  &__btn {
    @include buttons;
  }

  &__cards {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: $small-space;

    &--el {
      width: calc(50% - 8px);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: $tiny-space;
      border-radius: $small-radius*2;
      border: 1.5px solid rgba(91, 192, 190, 0.30);
      background: linear-gradient(99deg, rgba(91, 192, 190, 0.15) 0%, rgba(91, 192, 190, 0.05) 100%);
      background-blend-mode: hard-light;
      box-shadow: 0 8px 24px -4px rgba(0, 0, 0, 0.25);
      backdrop-filter: blur(16px);
      padding: $space;

      .title {
        font-size: $text;
        font-weight: $semi-bold;
        margin-top: $tiny-space;
      }

      .desc {
        color: rgba(225, 229, 242, 0.75);
        font-size: $tiny-text;
        font-weight: $semi-bold;
      }
    }

    .active {
      border: 1.5px solid #5BC0BE;
      background: rgba(91, 192, 190, 0.25);
    }
  }
}

.foplan {
  height: 100vh;

  &__title {
    @include plan-title;
  }

  &__progress {
    @include plan-progress;
  }

  &__sub {
    @include plan-sub;
  }

  &__btn {
    @include buttons;
  }

  &__opt {
    border-radius: 25px;
    border: 1.5px solid rgba(91, 192, 190, 0.30);
    background: linear-gradient(99deg, rgba(91, 192, 190, 0.15) 0%, rgba(91, 192, 190, 0.05) 100%);
    background-blend-mode: hard-light;
    box-shadow: 0 8px 24px -4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(16px);
    padding: $space $big-space;

    &--el {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: $small-space;

      .opt {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &__title {
          font-size: $text;
          font-weight: $bold;
        }

        &__desc {
          color: rgba(225, 229, 242, 0.50);
          font-size: $tiny-text;
          font-weight: $semi-bold;
        }

        &__toggle {
          @include toggle;
        }
      }
    }

    &--sep {
      height: 1px;
      width: 100%;
      background-color: rgba(225, 229, 242, 0.10);
      margin-bottom: $small-space;
    }

    &--text {
      color: rgba(91, 192, 190, 0.75);
      font-size: $small-text;
      font-weight: $bold;
    }
  }
}

.fiplan {
  height: 100vh;

  &__title {
    @include plan-title;
  }

  &__progress {
    @include plan-progress;
  }

  &__sub {
    @include plan-sub;
  }

  &__btn {
    @include buttons;
  }

  &__stage {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: $big-space;
    border-radius: 25px;
    border: 1.5px solid rgba(91, 192, 190, 0.30);
    background: linear-gradient(99deg, rgba(91, 192, 190, 0.15) 0%, rgba(91, 192, 190, 0.05) 100%);
    background-blend-mode: hard-light;
    box-shadow: 0 8px 24px -4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(16px);
    padding: $space $big-space;
    margin-bottom: $space;

    &--num {
      font-size: $small-title;
      font-weight: $bold;
      width: 40px;
      height: 40px;
      background-color: $secondary-color;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &--infos {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: $tiny-space;

      .title {
        font-size: $text;
        font-weight: $bold;
      }

      .infos {
        color: rgba(225, 229, 242, 0.75);
        font-size: $small-text;
        font-weight: $semi-bold;
      }

      .pill {
        font-size: $tiny-text;
        padding: 2px $tiny-space;
        border: 1px solid $green;
        background-color: rgba(109, 255, 87, 0.1);
        color: $green;
        border-radius: $small-radius;
        font-weight: $semi-bold;
      }
    }
  }

  &__addstage {
    border-radius: 20px;
    border: 1.5px dashed rgba(91, 192, 190, 0.30);
    background: linear-gradient(99deg, rgba(91, 192, 190, 0.08) 0%, rgba(91, 192, 190, 0.03) 100%);
    background-blend-mode: hard-light;
    box-shadow: 0 8px 24px -4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    padding: $space;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--text,
    &--plus {
      color: rgba(225, 229, 242, 0.75);
      font-size: $text;
      font-weight: $semi-bold;
    }
  }
}

.siplan {
  height: 100vh;

  &__title {
    @include plan-title;
  }

  &__progress {
    height: 10px;
    width: 100%;
    background-color: $secondary-color;
    border-radius: 100px;
    margin-bottom: $big-space;
  }

  &__sub {
    @include plan-sub;
  }

  &__btn,
  &__btn--br {
    @include buttons;
  }

  &__img {
    border-radius: 25px 25px 0 0;
    border-right: 1px solid rgba(91, 192, 190, 0.25);
    border-left: 1px solid rgba(91, 192, 190, 0.25);
    border-top: 1px solid rgba(91, 192, 190, 0.25);

    img {
      width: 100%;
      height: auto;
      max-width: 400px;
      border-radius: 25px 25px 0 0;
    }
  }

  &__res {
    border-radius: 0 0 25px 25px;
    border-right: 1.5px solid rgba(91, 192, 190, 0.30);
    border-bottom: 1.5px solid rgba(91, 192, 190, 0.30);
    border-left: 1.5px solid rgba(91, 192, 190, 0.30);
    background: linear-gradient(99deg, rgba(91, 192, 190, 0.15) 0%, rgba(91, 192, 190, 0.05) 100%);
    background-blend-mode: hard-light;
    box-shadow: 0 8px 24px -4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    padding: $space $big-space;
    margin-top: -5px;

    &--title {
      font-size: $text;
      font-weight: $bold;
      margin-bottom: $small-space;

      span {
        display: block;
        font-weight: $semi-bold;
        color: rgba(91, 192, 190, 0.75);
      }
    }

    &--date {
      color: rgba(225, 229, 242, 0.75);
      font-size: $small-text;
      font-weight: $semi-bold;
    }

    &--cards {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: $space;

      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: $small-space $space;
        border-radius: $small-radius;
        background: rgba(11, 19, 43, 0.5);
        border: 2px solid rgba(91, 192, 190, 0.25);

        &__num {
          font-size: $small-title;
          font-weight: $bold;
          margin-bottom: $small-space;
        }

        &__desc {
          font-size: $small-text;
          font-weight: $bold;
          color: $secondary-color;
          opacity: 0.75;
        }
      }
    }
  }

  &__btn--br {
    margin-top: $space;
    border: 2px solid $text-color;
    background-color: transparent;
  }
}

.plan__screen--btn {
  margin-top: $giga-space;
}

.seplan {
  height: auto;

  &__title {
    @include plan-title;
  }

  &__sub {
    margin: 40px 0 $space 0;
    color: rgba(91, 192, 190, 0.50);
    font-size: $text;
    font-weight: $bold;
    text-transform: uppercase;
  }

  &__img {
    border-radius: 25px 25px 0 0;
    border-right: 1px solid rgba(91, 192, 190, 0.25);
    border-left: 1px solid rgba(91, 192, 190, 0.25);
    border-top: 1px solid rgba(91, 192, 190, 0.25);

    img {
      width: 100%;
      height: auto;
      max-width: 400px;
      border-radius: 25px 25px 0 0;
    }
  }

  &__it {
    margin: -6px 0 $giga-space 0;
    padding: $big-space $space;
    border-radius: 0 0 25px 25px;
    border-right: 1.5px solid rgba(91, 192, 190, 0.30);
    border-bottom: 1.5px solid rgba(91, 192, 190, 0.30);
    border-left: 1.5px solid rgba(91, 192, 190, 0.30);
    background: linear-gradient(99deg, rgba(91, 192, 190, 0.15) 0%, rgba(91, 192, 190, 0.05) 100%);
    background-blend-mode: hard-light;
    box-shadow: 0 8px 24px -4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(16px);

    &--title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      font-weight: $semi-bold;
      margin-bottom: $big-space;
      gap: $small-space;

      .sub {
        color: rgba(225, 229, 242, 0.75);
        font-size: $small-text;
      }
    }

    &--stage {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: $tiny-space;

      .progress {
        height: 206px;
        width: 2px;
        background-color: $text-color;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        &__dot {
          width: 10px;
          height: 10px;
          background-color: $text-color;
          border-radius: 25px;
        }

        .active {
          background-color: $secondary-color;
        }
      }
    }

    .stages {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: $space;
      margin-left: $tiny-space;

      &__indiv {
        display: flex;
        flex-direction: column;
        gap: $tiny-space;

        &--title {
          font-size: $small-text;
          font-weight: $semi-bold;
        }

        &--sub {
          font-size: $tiny-text;
          font-weight: $semi-bold;
        }
      }
    }
  }

  &__met {
    padding: $big-space $space;
    border-radius: 25px;
    border: 1.5px solid rgba(91, 192, 190, 0.30);
    background: linear-gradient(99deg, rgba(91, 192, 190, 0.15) 0%, rgba(91, 192, 190, 0.05) 100%);
    background-blend-mode: hard-light;
    box-shadow: 0 8px 24px -4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(16px);

    &--cards {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .card {
        padding: $small-space;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
        border-radius: $small-radius;
        background: rgba(11, 19, 43, 0.50);

        &__day {
          color: rgba(225, 229, 242, 0.75);
          font-size: $tiny-text;
          font-weight: $bold;
        }

        &__temp {
          font-size: $text;
          font-weight: $bold;
        }

        &__rain {
          color: $blue;
          font-size: $tiny-text;
          font-weight: $semi-bold;
        }
      }
    }
  }

  &__check {
    margin-bottom: 80px;
    padding: $big-space $space;
    border-radius: 25px;
    border: 1.5px solid rgba(91, 192, 190, 0.30);
    background: linear-gradient(99deg, rgba(91, 192, 190, 0.15) 0%, rgba(91, 192, 190, 0.05) 100%);
    background-blend-mode: hard-light;
    box-shadow: 0 8px 24px -4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(16px);
    display: flex;
    flex-direction: column;
    gap: $space;

    &--el {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .name {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: $small-space;

        &__input {
          width: 20px;
          height: 20px;
          border-radius: 5px;
          background-color: transparent;
          border: 1px solid $secondary-color;
          appearance: none;
          -webkit-appearance: none;
          flex-shrink: 0;

          &:checked {
            background-color: $secondary-color;
          }
        }

        &__title {
          font-weight: $semi-bold;
        }
      }

      .perc {
        font-weight: $bold;
      }

      .green {
        color: $green;
      }

      .yellow {
        color: $yellow;
      }

      .red {
        color: $red;
      }
    }
  }
}

// Detail 

.detail__title {
  font-size: $small-title;
  font-weight: $semi-bold;
  margin-bottom: $big-space;
}

.detail {

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $big-space;

    &--el {
      font-size: $small-text;
      padding: $small-space;
      border-radius: 25px;
      border: 1px solid $secondary-color;
      background-color: rgba(91, 192, 190, 0.25);
      color: $text-color;
      font-weight: $bold;
      list-style: none;
      transition: background-color .3s ease;
    }

    .active {
      background-color: $secondary-color;
    }
  }

  &__content {

    &--el {
      display: none;

      .prod {
        &__title {
          font-size: $text;
          color: $secondary-color;
          opacity: 0.5;
          text-transform: uppercase;
          margin-bottom: 16px;
        }

        &__el {
          padding: $big-space $space;
          border-radius: $big-space;
          border: 1.5px solid rgba(91, 192, 190, 0.3);
          background: linear-gradient(99deg,
              rgba(91, 192, 190, 0.15) 0%,
              rgba(91, 192, 190, 0.05) 100%);
          background-blend-mode: hard-light;
          box-shadow: 0 8px 24px -4px rgba(0, 0, 0, 0.25);
          backdrop-filter: blur(15px);

          &--chart {
            margin-bottom: $big-space;

            img {
              width: 100%;
              height: auto;
            }
          }

          &--desc {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .txt {
              color: rgba(225, 229, 242, 0.75);
              font-size: $small-text;
              font-weight: $semi-bold;
            }

            .num {
              color: $yellow;
              font-size: $small-text;
              font-weight: $semi-bold;
            }
          }
        }
      }

      .wat {
        margin-bottom: $giga-space;

        &__title {
          font-size: $text;
          color: $secondary-color;
          opacity: 0.5;
          text-transform: uppercase;
          margin-bottom: 16px;
        }

        &__el {
          padding: $big-space $space;
          border-radius: $big-space;
          border: 1.5px solid rgba(91, 192, 190, 0.3);
          background: linear-gradient(99deg,
              rgba(91, 192, 190, 0.15) 0%,
              rgba(91, 192, 190, 0.05) 100%);
          background-blend-mode: hard-light;
          box-shadow: 0 8px 24px -4px rgba(0, 0, 0, 0.25);
          backdrop-filter: blur(15px);

          &--title {
            font-size: $small-text;
            color: $secondary-color;
            opacity: 0.75;
            text-transform: uppercase;
            font-weight: $bold;
            margin-bottom: $small-space;
          }

          &--cards {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: $space;

            .card {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              padding: $space;
              border-radius: $small-radius;
              background: rgba(11, 19, 43, 0.5);

              &__numb {
                font-size: $small-title;
                font-weight: $bold;

                &--green {
                  color: $green;
                }

                &--yellow {
                  color: $yellow;
                }

                &--blue {
                  color: $blue;
                }
              }

              &__name {
                font-size: $small-text;
                font-weight: $bold;
                color: $secondary-color;
                opacity: 0.75;
              }
            }
          }

          &--bar {
            display: flex;
            flex-direction: column;
            gap: $space;
          }

          &--graph {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            gap: $space;
            margin-top: $space;

            .graph {
              width: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              gap: $small-space;

              &__cons {
                width: 100%;
                background-color: $grey;
                border-radius: 5px 5px 0 0;
                position: relative;

                &:hover {
                  background-color: rgba(91, 192, 190, 0.5);
                }

                &:hover::after {
                  content: attr(data-litres);
                  position: absolute;
                  left: 50%;
                  transform: translateX(-50%);
                  background-color: $bg-body;
                  color: $text-color;
                  font-size: $small-text;
                  font-weight: $bold;
                  padding: $tiny-space 2px;
                  width: 100%;
                  display: flex;
                  justify-content: center;
                  border-radius: 5px;
                  white-space: nowrap;
                  opacity: 1;
                  transition: opacity 0.3s ease;
                }

                &::after {
                  content: attr(data-litres);
                  position: absolute;
                  bottom: calc(100% + $small-space);
                  left: 50%;
                  transform: translateX(-50%);
                  opacity: 0;
                  transition: opacity 0.3s ease;
                }

                &--1 {
                  height: 63px;
                }

                &--2 {
                  height: 47px;
                }

                &--3 {
                  height: 51px;
                }

                &--4 {
                  height: 42px;
                }

                &--5 {
                  height: 60px;
                }

                &--6 {
                  height: 56px;
                }

                &--7 {
                  height: 35px;
                  background-color: $secondary-color;
                }
              }

              &__day {
                color: rgba(225, 229, 242, 0.75);
                font-size: $tiny-text;
                font-weight: $bold;

                &--auj {
                  color: $secondary-color;
                }
              }
            }
          }
        }
      }

      .veh {
        &__title {
          font-size: $text;
          color: $secondary-color;
          opacity: 0.5;
          text-transform: uppercase;
          margin-bottom: $space;
        }

        &__carb {
          padding: $big-space $space;
          border-radius: $big-space;
          border: 1.5px solid rgba(91, 192, 190, 0.3);
          background: linear-gradient(99deg,
              rgba(91, 192, 190, 0.15) 0%,
              rgba(91, 192, 190, 0.05) 100%);
          background-blend-mode: hard-light;
          box-shadow: 0 8px 24px -4px rgba(0, 0, 0, 0.25);
          backdrop-filter: blur(15px);
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: $space;
          margin-bottom: $space;

          &--info {
            display: flex;
            align-items: center;
            gap: $small-space;

            .infos {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: center;
              font-weight: $bold;

              &__num {
                font-size: $small-title;
              }

              &__desc {
                font-size: $small-text;
                color: rgba(225, 229, 242, 0.50);
              }
            }
          }

          &--bar {
            @include progress-bar($yellow,
              rgba(255, 198, 26, 0.25),
              64%);
          }
        }

        &__mot {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: $space;
          margin-bottom: $big-space;

          &--kil {
            border-radius: $space;
            border: 1.5px solid rgba(91, 192, 190, 0.3);
            background: linear-gradient(99deg,
                rgba(91, 192, 190, 0.15) 0%,
                rgba(91, 192, 190, 0.05) 100%);
            background-blend-mode: hard-light;
            box-shadow: 0 8px 24px -4px rgba(0, 0, 0, 0.25);
            backdrop-filter: blur(15px);
            width: 100%;
            padding: $small-space $space;
            display: flex;
            flex-direction: column;
            gap: $tiny-space;

            .title {
              font-size: $small-title;
              font-weight: $semi-bold;
            }

            .desc {
              color: rgba(225, 229, 242, 0.75);
              font-size: $tiny-text;
              font-weight: $semi-bold;
            }

          }
        }
      }

      .pneu {
        &__title {
          font-size: $text;
          color: $secondary-color;
          opacity: 0.5;
          text-transform: uppercase;
          margin-bottom: $space;
        }

        &__press {
          display: flex;
          flex-direction: column;
          gap: $small-space;

          &--indiv {
            border-radius: $small-radius;
            border: 1.5px solid rgba(91, 192, 190, 0.3);
            background: linear-gradient(99deg,
                rgba(91, 192, 190, 0.15) 0%,
                rgba(91, 192, 190, 0.05) 100%);
            background-blend-mode: hard-light;
            box-shadow: 0 8px 24px -4px rgba(0, 0, 0, 0.25);
            backdrop-filter: blur(15px);
            padding: $small-space $space;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: $small-space;

            .loc {
              color: rgba(91, 192, 190, 0.75);
              font-size: $small-text;
              font-weight: $bold;
              width: 88.33px;
            }

            .press {
              color: $secondary-color;
              font-size: $small-text;
              font-weight: $bold;
            }

            .bar {
              width: 45%;
              background-color: rgba(91, 192, 190, 0.25);
              height: $tiny-space;
              border-radius: $small-radius;
            }

            .bar__mid{
              position: relative;

              &::before {
                content: '';
                height: $tiny-space;
                width: 90%;
                background-color: $secondary-color;
                position: absolute;
                left: 0;
                top: 0;
                border-radius: $small-radius;
              }
            }

            .bar__full {
              position: relative;

              &::before {
                content: '';
                height: $tiny-space;
                width: 100%;
                background-color: $secondary-color;
                position: absolute;
                left: 0;
                top: 0;
                border-radius: $small-radius;
              }
            }

            .bar__low{
              position: relative;

              &::before {
                content: '';
                height: $tiny-space;
                width: 80%;
                background-color: $secondary-color;
                position: absolute;
                left: 0;
                top: 0;
                border-radius: $small-radius;
              }
            }
          }

          .danger {
            border: 1px solid $yellow;

            .loc {
              color: rgba(255, 198, 26, 0.75);
              font-size: $small-text;
              font-weight: $bold;
              width: 88.33px;
            }

            .press {
              color: $yellow;
              font-size: $small-text;
              font-weight: $bold;
            }

            .bar {
              width: 45%;
              background-color: rgba(255, 198, 26, 0.25);
              height: $tiny-space;
              border-radius: $small-radius;
            }

            .bar__danger{
              position: relative;

              &::before {
                content: '';
                height: $tiny-space;
                width: 50%;
                background-color: $yellow;
                position: absolute;
                left: 0;
                top: 0;
                border-radius: $small-radius;
              }
            }
          }

          &--recom {
            margin-top: $small-space;
            display: flex;
            justify-content: space-between;
            color: rgba(91, 192, 190, 0.75);
            font-weight: $semi-bold;
            font-size: $small-text;
          }
        }
      }
    }

    .active {
      display: inherit;
    }
  }
}

// Compte